@import url(https://fonts.googleapis.com/css2?family=Poppins);
@import url(./scrollbar.css);

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
}
